---
import Root from "@/layouts/root.astro";
---

<Root
	title="Coding Bootcamp Testimonials Slider"
	googleFontUrl="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
>
	<h1>Astro</h1>
</Root>
